body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .left-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    
  }
  
  .left-items {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
  }
 
  .left-content-style{
    font-size: 1.5rem;
   
  }
  .left-content-style i {
    margin-right: 15px; 
    margin-top: 15px;
   
  }
  .left-content-style p i {
    margin-right: 15px; 
    margin-top: 15px;
    font-weight: 200;
   
  }
  
 
  .mid-container {
    grid-column: 2/3;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  }
 .right-container{
  grid-column: 3/4;

 }

  img{
    max-width: 50px;
  }
  #userAndImage{
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none;
    min-height: 175px;
  }

#profileImage {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: 10px;
}




#postContent::placeholder {
  color: #999;
  font-size: 1.5rem;
  
}
#postContent{
  height: 30px;
  margin-left: 50px;
  border: none; 
  font-size: 1.2rem;
}
#postContent:focus {
  outline: none;
}


#postBtn
 {
  background-color: #1da1f2;
  color: white;
  margin-left: auto;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 15px;
  margin: 5px 0;
  height: 35px;
}


#postBtn {
  background-color: #1da1f2;
  color: white;
  margin-left: auto;
}
#postBtn:hover{
  cursor: pointer;
  background-color: #2390d3;
}


#imageAndUsername {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#newPostForm {
  display: flex;
  flex-direction: column;
}

/* ButtonRow - container for buttons */
#buttonRow {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cccccc;;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}
#buttonRow a {
  display: inline-block;
  padding: 12px;
  color: #1da1f2;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#buttonRow a:hover {
  background-color: #e6f3ff;
}

.logout-container {
  bottom: 0;
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  position: fixed;
}

.stay-fixed{
  position: fixed;
}

#loggOutBtn{
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
 
  height: 30px;
}
#loggOutBtn:hover{
  cursor: pointer;
  background-color: #2390d3;
}
#deleteAccountBtn{
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  margin: 5px 0;
  height: 30px;
}
#deleteAccountBtn:hover{
  cursor: pointer;
  background-color: #2390d3;
}

#username{
  font-size: 1.5rem;
  font-weight: 200;
}

.gritter-style{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}

.post-item{
  border-bottom: 1px solid #cccccc;
  padding-left: 10px;
}
.reply-btn{
  margin-left: 10px;
}

#top10LikedPosts{
  margin-left: 70px;
  background-color: #f1f9fa;
  border-radius: 30px;
  width: 300px;
 
}
.postLiked10{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #cccccc;
  
}



#gillade-h3-style{
  margin-left: 90px;
  margin-top: 40px;
  font-size: 1.5rem;
 
}
#profil-h3-style{
  margin-left: 90px;
  margin-top: 40px;
  font-size: 1.5rem;
  
}

.user-container{
  margin-left: 70px;
  width: 300px;
  min-height: 200px;
  background-color: #6abac5;
  border-radius: 30px;
 
}


.user-names{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.postName{
  font-size: 1.2rem;
}

.post-actions{
  margin-bottom: 10px;
}

.postContent{
  font-size: 1.1rem;
}
.postTime{
  font-size: 0.6rem;
}
.fa-heart:hover{
  color: red;
  cursor: pointer;
}
.fa-comment:hover{
  color: aqua;
  cursor: pointer;
}
.left-content-style a {
  text-decoration: none;
  color: inherit;
}
.user-names p:hover {
  cursor: pointer;
  font-size: 1.1rem;
}